.container {
    max-width: min(60ch, 100% - 4rem);
    margin-inline: auto;
}

.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

p {
    overflow-wrap: break-word;
    hyphens: auto;
}

.post-header {
    margin-bottom: 3rem;
    --flow-space: 0.75em;
}

blockquote, .callout {
    padding: 1rem;
    border-left: var(--border-width) solid var(--border-accent);
    background-color: var(--blue-100);
}

blockquote > * + * {
    margin-top: var(--flow-space, 1em);
}

summary {
    padding: 0.5rem 1rem;
}

.details-wrapper {
    padding: 1rem;
    background-color: var(--blue-100);
}