.container {
    max-width: min(60ch, 100% - 4rem);
    margin-inline: auto;
}

.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

p {
    overflow-wrap: break-word;
    hyphens: auto;
}

hgroup {
    margin-bottom: 3rem;
    --flow-space: 0.75em;
}

blockquote, .callout {
    padding: 1rem;
    border-left: 3px solid var(--border-accent);
    background-color: var(--gray-100);
}

blockquote > * + * {
    margin-top: var(--vlow-space, 1em);
}