/* Defaults */

html {
    font-family: var(--font-base);
    color: var(--base-text);
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    padding-bottom: 2rem;
    font-size: var(--text-base);
}

blockquote, body, dd, dl, figure, h1, h2, h3, h4, p {
    margin: 0;
}

/* Base Element Styles */

h1, h2, h3, h4 {
    font-weight: 900;
    line-height: 1.1;
    text-wrap: balance;
    --flow-space: 1.25em;
}

h1 {
    font-size: var(--text-2xl);
    line-height: 0.90;
}

a {
    color: var(--base-text);
}

hr {
    border: 0;
    border-top: 1px solid var(--border-accent);
}

footer {
    color: var(--gray-600);
    margin-top: 6rem;
}

/* Skip Link */

.skip-link {
    clip: rect(0,0,0,0);
    background-color: var(--gray-200);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
}

.skip-link:focus {
    clip: unset;
    padding: 1rem;
    height: auto;
    width: auto;
    position: fixed;
}

/* Navigation */

.nav-list {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;


}

.nav-list > ul {
    display: flex;
    gap: 1rem;
    margin: 0;
    list-style: none;
}


/* Element Classes */

.blog-list {
    padding-left: 0;
    padding-top: 2rem;
}


.blog-entry-date {
    font-weight: 600;
    font-size: var(--text-base);
}