---
layout: layouts/base.njk
title: Blog Archive
description: Blog archive. 
---

<main id="main" class="container flow">
    <h1>{{title}}</h1>
    
    <ol class="blog-list flow">
        {% for post in collections.posts %}
            <li class="flow">
                <h2><a href="{{post.url}}">{{post.data.title}}</a> | 
                    <time class="blog-entry-date" datetime="{{ post.date | readableDate("yyyy-LL-dd") }}">{{ post.date | readableDate("LLLL dd, yyyy") }}</time>
                </h2>
                <p>{{post.data.description}}</p>
            </li>
        {% endfor %}
    </ol>
</main>