---
layout: layouts/base.njk
title: Prodigious
description: Playground of half baked ideas.
---
<main id="main" class="container flow">
    <h1 class="home-heading">Prodigious <span class="home-subheading">(adj.)</span></h1>
    <p class="callout">: causing amazement or wonder</p>
        <h2>goofy things i've done:</h2>
        <ul>
            <li><a href="https://demos.tedmehl.me">demos</a></li>
            <li><a href="https://js.tedmehl.me">js academy</a></li>
            <li><a href="/blog">blog</a></li>
        </ul>
    <details class="flow">
        <summary>why prodigious?</summary>
        <div class="details-wrapper flow">
            <p>Every now and then I go back and rewatch one of my favorite movies, October Sky. Quentin, one of the
                main characters, uses the word prodigious as a positive response to something where we might
                normally
                say 'awesome!' For some reason that always stuck with me and makes its way into my vocabulary.</p>
            <p>If you haven't watched the movie before, you should at least once. It's an interesting look into a
                small coal town in West Virginia and a group of friends dreaming about things beyond
                it. Based on the memoir of NASA engineer Homer Hickam. </p>
        </div>
    </details>
</main>