<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prodigious.</title>
    <meta name="description" content="My learning playground of half baked ideas.">
    <link rel="preload" as="font" href="fonts/Figtree[wght].woff2" crossorigin>
    <link rel="preload" as="font" href="fonts/Figtree-Italic[wght].woff2" crossorigin>

    {% set css %}
        {% include "./styles.css" %}
    {% endset %}
    <style>
    {{ css | cssmin | safe }}
    </style>

</head>

<body>
    <main>
        <h1>Prodigious <span class="word-type">(adj.)</span></h1>
        <p class="word-definition">: causing amazement or wonder</p>
        <nav>
            <h2>goofy things i've done:</h2>
            <ul class="nav">
                <li><a href="https://demos.tedmehl.me">demos</a></li>
                <li><a href="https://js.tedmehl.me">js academy</a></li>
                <li><a href="/blog">blog</a></li>
            </ul>
        </nav>
        <details>
            <summary>why prodigious?</summary>
            <div class="details-wrapper">
                <p>Every now and then I go back and rewatch one of my favorite movies, October Sky. Quentin, one of the
                    main characters, uses the word prodigious as a positive response to something where we might
                    normally
                    say 'awesome!' For some reason that always stuck with me and makes its way into my vocabulary.</p>
                <p>If you haven't watched the movie before, you should at least once. It's an interesting look into a
                    small coal town in West Virginia and a group of friends dreaming about things beyond
                    it. Based on the memoir of NASA engineer Homer Hickam. </p>
            </div>
        </details>
    </main>
</body>

</html>