---
layout: layouts/base.njk
---
<main id="main" class="container flow">

    <hgroup class="flow">
        <h1>{{title}}</h1>
            <p>
                <time datetime="{{ date | readableDate("yyyy-LL-dd") }}">{{ date | readableDate("LLLL dd, yyyy") }}</time>
            </p>
    </hgroup>

    {{ content | safe }}

</main>